{% extends "base.html" %}

{% block content %}
<h1>Каталог автомобилей</h1>
<div class="cars-list">
    {% for car in cars %}
    <div class="car-card">
        <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="{{ car.model }}"
            style="max-width: 300px;">
        <h3>{{ car.model }}</h3>
        <p>Цена от: {{ "{:,.0f}".format(car.base_price) }} ₽</p>
        <p>Двигатель: {{ car.engine }}</p>
        <a href="{{ url_for('main.configure', car_id=car.id) }}" class="btn-configure">
            Настроить
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}