{% extends "base.html" %}

{% block content %}
<h2>Оформление заказа</h2>
<div class="order-summary">
    <h3>{{ car.model }}</h3>
    <p>Базовая цена: {{ "{:,.0f}".format(car.base_price) }} ₽</p>
    <p>Цвет: {{ config.color }}</p>
    {% if config.climate_control %}<p>+ Климат-контроль: 50 000 ₽</p>{% endif %}
    {% if config.multimedia %}<p>+ Аудиосистема: 75 000 ₽</p>{% endif %}
</div>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.address.label }}<br>
        {{ form.address(rows=4) }}
    </div>
    <div>
        {{ form.payment_method.label }}<br>
        {{ form.payment_method() }}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}